{% extends "head.html" %}
{%block head%}

<div class="card text-center">
    <div class="card-header">
      Pyhackons
    </div>
    <div class="card-body">
      <h5 class="card-title">Members</h5>
      <p class="card-text">The Page wse created by PyHackons</p>
      <p class="card-text">E.K.Jithendiran</p>
      <p class="card-text">T.Logesh</p>
      <p class="card-text">S.Kadhambari</p>
      
    </div>
    <div class="card-footer text-muted">
        <form action="/">
            <button type="submit" class="btn btn-primary" >Home</button>
        </form>
    </div>
  </div>
{%endblock%}